@import url("https://fonts.googleapis.com/css?family=Nunito:300,400");
.center {
  margin: 80px auto 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center; }

.image-container {
  max-width: 300px;
  margin: 0 auto; }

.target {
  width: 100%; }

.light-text {
  font-weight: 300;
  font-size: 24px;
  color: #A99C9D;
  margin-top: 50px;
  line-height: 2; }

.find-btn {
  display: block;
  font-size: 24px;
  font-weight: 400;
  width: 320px;
  padding: 20px 80px;
  background-color: #041022;
  color: #FAFCFF;
  border-radius: 50px;
  margin: 80px auto 0; }
  .find-btn:hover {
    text-decoration: none;
    opacity: 0.9;
    color: #FAFCFF; }
