@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f9fafb;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  background-color: #FEFEFF; }

.container {
  margin: 0 auto;
  padding-top: 9em;
  max-width: 1024px;
  display: flex; }

.left-container {
  max-width: 368px;
  position: relative;
  display: inline-block; }

.title {
  width: 538px;
  display: inline-block;
  padding: 8px 24px;
  background: linear-gradient(to left, #ACFDB5, #ACFDFD);
  font-size: 36px;
  font-weight: 500;
  position: absolute;
  left: 256px;
  top: 64px; }

img {
  background-color: rgba(204, 216, 255, 0.2);
  height: 480px;
  width: 368px; }

.buttons {
  margin-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

button {
  display: block;
  width: 300px;
  height: 64px;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer; }
  button:first-child {
    margin-bottom: 24px; }
  button:hover {
    text-decoration: line-through; }

.secondary-btn {
  border: 1px solid #111184;
  background-color: transparent;
  color: #111184; }
  .secondary-btn:hover {
    background-color: #F4F4FC; }

.primary-btn {
  background-color: #111184;
  color: #ffffff; }
  .primary-btn:hover {
    background-color: #08083C;
    box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.1); }

#mobile-btns {
  display: none; }

.right-container {
  display: inline-block;
  max-width: 100%; }

.card {
  margin-top: 168px;
  margin-left: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  max-width: 608px;
  background-color: white;
  padding: 36px;
  -webkit-font-smoothing: antialiased; }

.orange {
  color: #c9791b; }

.heavy {
  font-weight: 500; }

.green {
  color: #2fa32f; }

.blue {
  color: #1313fe; }

.dev-link {
  background-color: #fffe90;
  padding: 4px 8px;
  color: #000000; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: line-through; }

@media only screen and (max-width: 1136px) {
  .container {
    max-width: 608px;
    padding: 96px 0;
    display: block; }
  .left-container {
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap; }
  .title {
    display: block;
    top: 564px;
    left: 35px; }
  #desktop-btns {
    position: absolute;
    top: 1300px;
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 96px; }
  .right-container {
    margin-top: 128px; }
  .card {
    margin-top: 0;
    margin-left: 0; } }

@media only screen and (max-width: 608px) {
  .container {
    max-width: 100%;
    padding-left: 5.55%;
    padding-right: 5.55%;
    padding-top: 7%; }
  .title {
    font-size: 24px;
    width: 355px;
    padding: 16px;
    left: calc(50% - 178px);
    top: calc(7% + 430px); }
  #desktop-btns {
    display: none; }
  .right-container {
    margin-top: 90px; }
  .card {
    padding-left: 4.44%;
    padding-right: 4.44%; }
  #mobile-btns {
    display: flex;
    margin-top: 60px; } }

@media only screen and (max-width: 368px) {
  .container {
    padding: 0; }
  .title {
    top: 450px; }
  img {
    width: 100%;
    height: 130vw;
    max-height: 480px; }
  .right-container {
    margin: 72px 5.55% 0; } }

@media only screen and (max-width: 356px) {
  .title {
    width: 304px;
    font-size: 20px;
    left: calc(50% - 152px); }
  .right-container {
    margin: 72px auto 0; } }
