@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400");
* {
  margin: 0;
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  background-color: #041022; }

.header {
  height: 120px;
  width: 100%;
  background-color: #FAFCFF;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .navigation {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center; }
    .header .navigation .nav-link {
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      margin: 10px 50px;
      color: #6C7A83;
      font-size: 1.2em;
      font-weight: 400; }
    .header .navigation .active {
      padding: 12px 18px;
      color: #FAFCFF;
      background-color: #28A828;
      border-radius: 3px; }

.text {
  color: #95989A;
  margin-left: 120px;
  margin-top: 80px; }
  .text .greeting {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300; }
  .text .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
    .text .description .lines {
      margin-top: 50px; }
    .text .description .contact-info {
      line-height: 2.2; }
      .text .description .contact-info .bright {
        color: #DFE8ED; }
        .text .description .contact-info .bright:hover {
          text-decoration: none;
          color: #FFFFFF; }

.footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center; }
  .footer .footer-text {
    margin-top: 30px;
    padding: 0 20px; }
    .footer .footer-text p {
      color: #95989A;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0.5px; }

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto; }
  ul.social-network li {
    display: inline;
    margin: 0 15px; }

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoMedium:hover {
  background-color: #00AB6C; }

.social-network a.icoQuora:hover {
  background-color: #AA2200; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #FAFCFF; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px; }

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.social-circle a {
  background-color: #122643; }

@media screen and (max-width: 900px) {
  .text {
    margin: 80px; } }

@media screen and (max-width: 700px) {
  .header .navigation .nav-link {
    margin: 10px 20px; } }

@media screen and (max-width: 580px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px; } }

@media screen and (max-width: 450px) {
  .text {
    margin: 80px 40px; }
  .header .navigation .nav-link {
    font-size: 16px;
    margin: 10px 10px; }
  .header .navigation .active {
    padding: 8px 12px; }
  ul.social-network li {
    display: inline;
    margin: 0 5px; }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px; }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center; } }

@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px; }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px; }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center; } }

@media screen and (max-width: 316px) {
  .header .navigation .nav-link {
    font-size: 14px;
    margin: 10px 10px; }
  .header .navigation .active {
    padding: 10px 15px; } }
