@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400");
* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  background-color: #FAFCFF;
}

.header {
  margin-top: 150px;
  height: 350px;
}

.name {
  border: 1px solid #626972;
  border-top: transparent;
  border-left: transparent;
  border-bottom: transparent;
  height: 100%;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.name p {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #040122;
  line-height: 1.5;
  letter-spacing: 4.8px;
  text-align: right;
}

.description {
  color: #3E506C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 35px;
  height: 100%;
  padding-left: 100px;
}

.oneLiner {
  font-family: 'Open Sans', sans-serif;
  display: inline;
  font-weight: 300;
  -ms-flex-item-align: center;
  align-self: center;
}

.words {
  -ms-flex-item-align: center;
  align-self: center;
  text-indent: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.words span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  opacity: 0;
  -webkit-animation: slideWords 6s linear infinite;
  animation: slideWords 6s linear infinite;
}

.words span:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.words span:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.words span:nth-child(4) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.words span:nth-child(5) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation .nav-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px 50px;
  color: #6C7A83;
  font-size: 20px;
  font-weight: 400;
}

.navigation .active {
  padding: 12px 18px;
  color: #FAFCFF;
  background-color: #28A828;
  border-radius: 3px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio .project {
  margin: 40px 0;
}

.portfolio .project .project-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.portfolio .project .project-thumbnail .card {
  position: relative;
  background-color: #FFF;
  width: 280px;
  height: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(13, 9, 44, 0.16);
  box-shadow: 0 2px 10px 0 rgba(13, 9, 44, 0.16);
}

.portfolio .project .project-thumbnail .card .project-overlay {
  background: rgba(4, 16, 34, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.portfolio .project .project-thumbnail .card .project-image {
  width: 100%;
  height: 100%;
}

.portfolio .project .project-thumbnail .card .overlay-details {
  position: absolute;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.portfolio .project .project-thumbnail .card .overlay-details .overlay-title {
  color: #FAFCFF;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.portfolio .project .project-thumbnail .card .overlay-details p {
  color: #B4BAC3;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  margin-top: 3px;
}

.portfolio .project .project-thumbnail .card .fadeIn-top {
  top: 0%;
  left: 4%;
}

.portfolio .project .project-thumbnail .card:hover .project-overlay {
  opacity: 1;
}

.portfolio .project .project-thumbnail .card:hover .overlay-details {
  top: 15%;
  left: 4%;
  opacity: 1;
}

.portfolio .project .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5E6971;
  text-decoration: none;
}

.footer {
  margin-top: 150px;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-text {
  margin-top: 30px;
}

.footer .footer-text p {
  color: #95989A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto;
}

ul.social-network li {
  display: inline;
  margin: 0 15px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoMedium:hover {
  background-color: #00AB6C;
}

.social-network a.icoQuora:hover {
  background-color: #AA2200;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #CCD8EA;
}

@-webkit-keyframes slideWords {
  0%, 20% {
    opacity: 0;
  }
  10%, 15% {
    opacity: 1;
  }
}

@keyframes slideWords {
  0%, 20% {
    opacity: 0;
  }
  10%, 15% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .name {
    padding-right: 60px;
  }
  .description {
    padding-left: 60px;
  }
}

@media screen and (max-width: 900px) {
  .name {
    padding-right: 40px;
  }
  .name p {
    font-size: 50px;
  }
  .description {
    padding-left: 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    width: auto;
  }
}

@media screen and (max-width: 766px) {
  .header {
    margin-top: 100px;
    height: auto;
  }
  .name {
    height: 250px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
  }
  .name p {
    padding: 40px 20px;
    border: 1px solid #626972;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }
  .description {
    height: 150px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 180px;
  }
}

@media screen and (max-width: 700px) {
  .navigation .nav-link {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 580px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-top: 40px;
  }
  .name p {
    font-size: 40px;
  }
  .description {
    font-size: 24px;
    margin-right: 130px;
    height: 100px;
  }
  .navigation {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .footer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 450px) {
  .navigation .nav-link {
    font-size: 16px;
    margin: 10px 10px;
  }
  .navigation .active {
    padding: 8px 12px;
  }
  .footer .footer-text {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 325px) {
  .navigation .nav-link {
    font-size: 14px;
    margin: 10px 10px;
  }
  .navigation .active {
    padding: 10px 15px;
  }
}
