html
  head
    meta(name='viewport', content='width=device-width, \initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/about.css')
    link(rel='icon', type='img/png', href='img/favicon.png')
    title About - Priyank Agarwal
  body
    .container
      .left-container
        .title Namaste! I'm Priyank Agarwal
        img(src='./img/about-photo.jpg', alt='Priyank clinking a pint with his friends')
        .buttons#desktop-btns
          a(href='./index.html')
            button.secondary-btn BACK TO PORTFOLIO
          a(href='./contact.html')
            button.primary-btn LET'S TALK!
      .right-container
        .card
          div I’m a tap dancer.

            br
            br

            | Just Kidding! I’m a UX Designer at 
            a.heavy.orange(href = 'https://www.medlife.com/') Medlife
            |	and a recent graduate from 
            a.heavy.green(href = 'https://www.iitg.ac.in/design/') Department of Design, IIT Guwahati.

            br
            br

            | I love learning new stuff. That’s right! Hit me up with a random topic and there’s a good chance I’ll be interested in discussing it with you. But most of all, it’s the human behaviour which intrigues me. And understanding that is where I spend most of time. I also adore development, and you can find me 
            a.dev-link(href = 'https://codepen.io/priyank1205/') playing around with React.js now and then.

            br
            br

            | I enjoy two very generic things. Pizza 🍕and Beer 🍺. Top that up with some good books 📚, and you’d have just made my day. I also appreaciate people who love their crafts and are fully immersed in them. Again, human behaviour, you see.

            br
            br

            | If you’d like to play CS:GO with me, ping me on 
            a.heavy.blue(href = 'http://steamcommunity.com/id/priyank1205/') Steam 
            |	and if you have some really good side projects in mind, I’d love to talk about them. Peace!
        .buttons#mobile-btns
          button.secondary-btn BACK TO PORTFOLIO
          button.primary-btn LET'S TALK!


  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93538935-2', 'auto');
    ga('send', 'pageview');
