html
  head
    meta(name='viewport', content='width=device-width, \initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/about.css')
  body
    .container-fluid
      .row
        .col-md-6.image-bg
          .overlay
            .overlay-text
              .name PRIYANK AGARWAL
              .skills interaction designer, ux researcher, frontend ninja, gamer, casual philosopher
            .buttons
              a(href='index.html')
                .rnd-btn.portfolio-btn Back to Portfolio
              a(href='contact.html')
                .rnd-btn.contact-btn Let's Talk


        .col-md-6.description
          p.greeting Namaste! :)
          .about-text
            p.text-para
              | I am an aspiring interaction designer currently attending design school at
              span.italic  Indian Institute of Technology, Guwahati.
              |  I thrive on human interaction and love to create intuitive and seemless experiences for people.
            p.text-para
              | I have had interest in technology and psychology since I was young, and since then, it has only grown. I love learning new things and keeping myself up to date with the current technologies, tools and skills. I have a strong passion to make the open and connected world of tomorrow come as seamless as possible for both human and machine.
            p.text-para
              | I believe the best products need no manuals and resonate with the mental models of people. I care deeply about creating novel solutions to problems, that people face on daily basis.
            p.text-para
              | When I’m not learning a new skill, you can find me playing
              a.darker(href='#')  CSGO
              |  or reading articles on
              a.darker(href='#')  Medium.
              |  I like to learn from, and if possible, inspire other people.
