html
  head
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      .row
        .col-sm-6.name PRIYANK AGARWAL
        .col-sm-6.name-desc
          h2.oneLiner I design
          .words
            span experiences
            span interfaces
            span websites
            span apps
            span digital solutions
