html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .row.header
        .col-sm-6.name
          p PRIYANK <br/>AGARWAL
        .col-sm-6.description
          .oneLiner I design
          .words
            span experiences
            span interfaces
            span websites
            span apps
      nav.row.navigation#portfolio
        a.nav-link.active(href='#portfolio') Portfolio
        a.nav-link(href='resume.pdf', target='_blank') Resume
        a.nav-link(href='about.html') About
        a.nav-link(href='contact.html') Contact
      .row
        .col-xs-12.portfolio
          .col-sm-4.project
            a.project-thumbnail(href='pakit.html')
              .card
                .project-overlay
                img.project-image(src='./img/thumb_pakit.png')
                .overlay-details.fadeIn-top
                  p.overlay-title Pakit
                  p.overlay-text UX Research, UX Design, Visual Design
            a.project-title(href='pakit.html')
              p UX Design | Pakit App
          .col-sm-4.project
            a.project-thumbnail(href='ozchi.html')
              .card
                .project-overlay
                img.project-image(src='./img/thumb_ozchi.png')
                .overlay-details.fadeIn-top
                  p.overlay-title Ozchi'24
                  p.overlay-text UX Research, UX Design
            a.project-title(href='ozchi.html')
              p UX Case Study | Ozchi'24
          .col-sm-4.project
            a.project-thumbnail(href='youtube.html')
              .card
                .project-overlay
                img.project-image(src='./img/thumb_youtube.png')
                .overlay-details.fadeIn-top
                  p.overlay-title Youtube iOS Redesign
                  p.overlay-text UX Design, UI Design
            a.project-title(href='youtube.html')
              p UI Design | Youtube Concept
          .col-sm-4.project
            a.project-thumbnail(href='posters.html')
              .card
                .project-overlay
                img.project-image(src='./img/thumb_posters.png')
                .overlay-details.fadeIn-top
                  p.overlay-title Posters
                  p.overlay-text Visual Design
            a.project-title(href='posters.html')
              p Visual Design | Creative Posters
      .footer
        ul.social-network.social-circle
          li
            a.icoLinkedin(href='https://www.linkedin.com/in/priyank1205', title='Linkedin')
              i.fa.fa-linkedin
          li
            a.icoTwitter(href='https://twitter.com/priyank1205', title='Twitter')
              i.fa.fa-twitter
          li
            a.icoMedium(href='https://medium.com/@priyank1205', title='Medium')
              i.fa.fa-medium
          li
            a.icoQuora(href='https://www.quora.com/profile/Priyank-Agarwal-7', title='Quora')
              i.fa.fa-quora
          li
            a.icoFacebook(href='https://www.facebook.com/priyank.agarwal1205', title='Facebook')
              i.fa.fa-facebook
          li
            a.icoInstagram(href='https://www.instagram.com/priyank.agarwal1205/', title='Instagram')
              i.fa.fa-instagram
        .footer-text
          p Designed and Developed with curiosity by Priyank Agarwal
