html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .row.header
        .col-sm-6.name
          p PRIYANK <br/>AGARWAL
        .col-sm-6.description
          .oneLiner I design
          .words
            span experiences
            span interfaces
            span websites
            span apps
            span digital solutions
      .row.nav.navigation
        a.nav-link.active(href='#') Portfolio
        a.nav-link(href='#') Resume
        a.nav-link(href='#') About
        a.nav-link(href='#') Contact
