html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .row.header
        .col-sm-6.name
          p PRIYANK <br/>AGARWAL
        .col-sm-6.description
          .oneLiner I design
          .words
            span experiences
            span interfaces
            span websites
            span apps
            span digital solutions
      .row.nav.navigation
        a.nav-link.active(href='#') Portfolio
        a.nav-link(href='#') Resume
        a.nav-link(href='#') About
        a.nav-link(href='#') Contact
      .row
        .col-md-12.portfolio
          .col-sm-4.project
            .project-thumbnail
              .card
            .project-title
              p UX Design | Pakit App
          .col-sm-4.project
            .project-thumbnail
              .card
            .project-title
              p UX Case Study | Ozchi'24
          .col-sm-4.project
            .project-thumbnail
              .card
            .project-title
              p UI Design | Youtube Concept
          .col-sm-4.project
            .project-thumbnail
              .card
            .project-title
              p Visual Design | Creative Posters
