html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/project.css')
    link(rel='icon', type='img/png', href='img/favicon.png')
    title Ozchi 2016 - Priyank Agarwal
  body
    .container.project
      a.back-to-portfolio(href='index.html#portfolio')
        i.back-icon
        span.label Back to Portfolio
      .project-details
        .project-heading Ozchi'24 2016
        .project-role
          .role
            span.heavy Role:
            span.lighter  UX Researcher, Designer
          .role
            span.heavy Timeline:
            span.lighter  24 hours, Aug 2016
        img.cover-img(src='./img/cover_ozchi.png', alt='Cover image')
        .project-description The OzCHI Student Design Challenge (OzCHI24) is an annual international student design competition run as part of the OzCHI conference. Each year hundreds of students from all over the world participate. A team of upto 5 members takes part, and has to submit a paper and a concept video at the end of the 24 hours, detailing the research and the proposed solution.
        .project-description
          | I did this project in a
          a.muted(href='https://ocdesignweb.wordpress.com/', target='_blank')  team of 5
        .project-subheading Design Brief
        .project-description The elderly population bracket (those aged 60 or older) is growing. Despite numerous positive developments and quality of life improvements for the elderly, they continue to experience many significant challenges. Create a design concept that supports ‘Healthy Ageing’ based on the interests and behaviours of a specific group of older people (60+).
        .project-subheading Research
        .project-description This was a slightly new domain for us, hence a basic secondary literature research was of utmost importance. Since the start of the designathon, we dived deep into reading a plethora of research papers on  the psychology of aging, the role of HCI in healthy aging and the behavourial patterns of senior adults. The call to action was to empathize with the target group and to understand the various factors contributing to healthy aging.
        .project-description Due to time constraints, we had to skip primary user research, and thus based all our understanding on literature review.
        .project-subheading Insights
        .project-description The Published literature helped us understand the concept of 'healthy aging'.
        img.project-img(src='./img/oz_dict.png', alt='Definition of healthy aging')
        .project-description We were also able to identify the following problems associated with healthy aging.
        img.project-img(src='./img/oz_prob.png', alt='Problems with healthy aging')
        .project-subheading Ideation
        .project-description After the research we jumped on to brain storming upon using HCI to solve the problem of healthy aging by helping alleviate isolation and smoothing the aging process.
        .row.split-images
          img.col-sm-6.project-img(src='./img/oz_id_1.png', alt='Team working')
          img.col-sm-6.project-img(src='./img/oz_id_2.png', alt='Team working')
        .row.split-images
          img.col-sm-6.project-img(src='./img/oz_id_3.png', alt='Team working')
          img.col-sm-6.project-img(src='./img/oz_id_4.png', alt='Team working')
        .project-description Literature research and brainstorming led us to one particularly big issue senior adults face very frequently, Not being able to learn and develop their particular self at such age, primarily due to the social stigma associated with them, i.e. they have low learnability.
        .project-description Therefore, the obvious thing for us was to get on to solve the problems of low self confidence, boredom and learnability.
        .project-description The next step was to decide how we were going to bring HCI into the scenario, and to brainstorm a detailed solution. We researched a lot on the different modailities that we could employ for the same, and came to the conclusion that a Virtual Reality based application would be the best to keep the target group engaged, because of its interactivity, versatility, gesture control, fun and realistic environment and no need for extra accessories.
        .project-description We decided to design a VR based simulation game, which would simulate real life situations for the users, to learn new skills and explore new adventures through interactivity.
        .project-subheading Persona
        .project-description Due to time consideration, we couldn't go for the primary user research, so this step became really important for us to decide the user journey. We based the persona on the literature research and also a phone call I made to my grandparents.
        img.project-img(src='./img/oz_persona.png', alt='Persona')
        .project-subheading Wireframes
        .project-description I like to call this stage brainstorming phase 2, since getting the ideas on paper brings out many factors we didn't take into consideration while ideating. We started blocking space out for the VR based app we had decided to pursue. The persona proved important in this step, as it gave us something to base the wireframes on.
        img.project-img(src='./img/oz_wire.png', alt='Wireframes')
        .project-subheading Low Fidelity Mockups
        .project-description I like to call this stage brainstorming phase 2, since getting the ideas on paper brings out many factors we didn't take into consideration while ideation. We started blocking space out for the VR based app we had decided to pursue. The persona proved important in this step, as it gave us something to base the wireframes on.
        img.project-img(src='./img/oz_vd_1.png', alt='Mockups')
        img.project-img(src='./img/oz_vd_2.jpg', alt='Mockups')
        img.project-img(src='./img/oz_vd_3.jpg', alt='Mockups')
        img.project-img(src='./img/oz_vd_4.jpg', alt='Mockups')
        img.project-img(src='./img/oz_vd_5.jpg', alt='Mockups')
        img.project-img(src='./img/oz_vd_6.jpg', alt='Mockups')
        img.project-img(src='./img/oz_vd_7.jpg', alt='Mockups')
        .project-subheading Final Video
        .project-description As was required of us, we created a video explaining our solution and submitted it.
        .video-container
          iframe(width='800', height='450', src='https://www.youtube.com/embed/nbihl5cSuu4', frameborder='0', allowfullscreen='')
        .project-subheading Learnings
        .project-description This was my first attempt at a designathon and collaborating and brainstorming with a team of designers. I learned many new things about working in harmony with people, getting research done, turning insights into concepts, delivering on deadline and following the design process.
        .project-description Not being able to perform contextual inquiry would always be a missed opportunity, which could have added a whole lot of value in the user-centric design process, but we did a decent job at substituting it with other activities aimed at getting similar contributions.
        .project-description We did not win the competition, but it was an awesome learning experience, and will motivate me to take part in such competitions in the future as well.
        img.project-img(src='./img/oz_team.png', alt='Team photo Obsessive Compulsive Designers')
        .project-description Thank you!
        a.back-btn.rnd-btn(href='index.html#portfolio') Back to Portfolio
        a.contact-btn.rnd-btn(href='contact.html') Let's Talk!
    .project-nav
      a.previous.project-nav-section(href='pakit.html')
        i.prev-icon
        span.label PAKIT
      a.next.project-nav-section(href='youtube.html')
        i.next-icon
        span.label YOUTUBE
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93538935-2', 'auto');
    ga('send', 'pageview');
