html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/project.css')
  body
    .container.project
      a.back-to-portfolio(href='index.html#portfolio')
        i.back-icon
        span.label Back to Portfolio
      .project-details
        .project-heading Posters
        .project-role
          .role
            span.heavy Role:
            span.lighter  Visual Designer
          .role
            span.heavy Timeline:
            span.lighter  2014 - 2015
        .project-description I was involved in the Creatives teams of the cultural and technical festivals of IIT Guwahati during my freshman years, and as a result, was involved in the making of some creative posters released from the social media accounts of the fests.
        .project-subheading 1. Georg Ohm's Birth Anniversary
        .project-description The first poster I made that got published on the facebook page of the technical fest was for Georg Ohm's 226th birth anniversary. Ohm was famous for Ohm's Law, and I decided to show the Ohm's Law being applied on a circuit in the shape of his name.
        .project-description It was my first time experimenting with the Adobe CC Suite and digital compositions. The poster came out quite clean, and was appreciated.
        img.project-img(src='./img/Ohm.jpg')
        .project-subheading 2. Amelia Earheart's birth anniversary
        .project-description Similar to the Georg Ohm's Poster, a poster was scheduled to be released for the birth anniversary of Amelia Earheart, the first female aviator to have crossed the Atlantic Ocean.
        .project-description This time, I chose to play with her name, and to create a quote out of it. Also, since it had a very feministic significance, I chose warm, unsaturated colors.
        img.project-img(src='./img/amelia.png')
        .project-subheading 3. Low Poly Portrait
        .project-description The introduction posters for the personalities coming for Industrial Conclave, Techniche'16 were planned to use low poly portraits of the personalities.
        .project-description I was tasked to make a low poly portrait of Neil WIlson, COO, PWO India. I had no clue what a low poly portrait was, and the whole process took me over 12 hours, but the final outcome was oddly satisfying.
        img.project-img(src='./img/lowPoly.png')
        .project-subheading 4. Father's Day
        .project-description On the ocassion of Father's Day, I planned to surprise my Dad by making a poster for him. I made a Google Search Suggestions page with the suggestions showing what I felt about him.
        .project-description This was my first encounter with the Chrome Inspector Panel, and I ripped off the fonts and colors used on the Google Landing page, and made almost everything vector. My Dad was elated on seeing the poster, and it also proved that I was learning something, for the very least.
        img.project-img(src='./img/google.jpg')
        a.back-btn.rnd-btn(href='index.html#portfolio') Back to Portfolio
        a.contact-btn.rnd-btn(href='contact.html') Let's Talk!
    .project-nav
      a.previous.project-nav-section(href='youtube.html')
        i.prev-icon
        span.label YOUTUBE
      a.next.project-nav-section(href='pakit.html')
        i.next-icon
        span.label PAKIT
