html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/project.css')
  body
    .container.project
      a.back-to-portfolio(href='index.html#portfolio')
        i.back-icon
        span.label Back to Portfolio
      .project-details
        .project-heading Pakit
        .project-description Role: Lead Designer
        .project-description Pakit was a startup, cofounded by me with a friend. I was responsible to overlook the disgital product. Pakit is an online service to send and receive couriers using P2P delivery
        .project-subheading What's Pakit?
        .project-description Pakit was a startup, cofounded by me with a friend. I was responsible to overlook the disgital product. Pakit is an online service to send and receive couriers using P2P delivery
        img.project-img(src='http://via.placeholder.com/1000x1000')
        a.back-btn.rnd-btn(href='index.html#portfolio') Back to Portfolio
        a.contact-btn.rnd-btn(href='contact.html') Let's Talk!
    .project-nav
      a.previous.project-nav-section(href='#')
        i.prev-icon
        span.label PREVIOUS
      a.next.project-nav-section(href='#')
        i.next-icon
        span.label NEXT
