html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/project.css')
  body
    .container.project
      a.back-to-portfolio(href='index.html#portfolio')
        i.back-icon
        span.label Back to Portfolio
      .project-details
        .project-heading Pakit
        .project-role
          .role
            span.heavy Role:
            span.lighter  UI Designer
          .role
            span.heavy Timeline:
            span.lighter  Aug 2016
        .project-description Pakit was a startup, cofounded by me with a friend. I was responsible to overlook the disgital product. Pakit is an online service to send and receive couriers using P2P delivery
        .project-subheading What's Pakit?
        .project-description Pakit was a startup, cofounded by me with a friend. I was responsible to overlook the disgital product. Pakit is an online service to send and receive couriers using P2P delivery
        img.project-img(src='http://via.placeholder.com/1000x1000')
        video(src='img/final.mp4', autoplay='', loop='')
        a.back-btn.rnd-btn(href='index.html#portfolio') Back to Portfolio
        a.contact-btn.rnd-btn(href='contact.html') Let's Talk!
    .project-nav
      a.previous.project-nav-section(href='#')
        i.prev-icon
        span.label PREVIOUS
      a.next.project-nav-section(href='#')
        i.next-icon
        span.label NEXT
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93538935-2', 'auto');
    ga('send', 'pageview');
