html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/project.css')
  body
    .container
    .project-nav
      a.previous.project-nav-section(href='#')
        i.prev-icon
        span.label PREVIOUS
      a.next.project-nav-section(href='#')
        i.next-icon
        span.label NEXT
