@import url("https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600i|Roboto:500");

*{
  margin: 0;
  padding:0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  background-color: #FEFEFF;
}

.image-bg{
  height: 100vh;
  background-image: url('https://preview.ibb.co/k8oFXv/about_bg.jpg');
  background-position: center;
  background-size: cover;
  position: relative;

  // Applying Linear gradient on a pseudo element

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(3,25,59,0.13), rgba(4,16,34,1));
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;

    .overlay-text{
      position: absolute;
      top: 45vh;

      .name{
        font-family: 'Abel', sans-serif;
        font-size: 80px;
        color: #FAFCFF;
        text-align: center;
      }
      .skills{
        margin-top: 20px;
        margin-left: 8%;
        margin-right: 8%;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: #FAFCFF;
        text-align: center;
      }
    }

    .buttons{
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;

      .rnd-btn{
        display: inline-block;
        width: 200px;
        height: 60px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
      }

      .portfolio-btn{
        background-color: #FAFCFF;
        color: #6C7A83;
        margin-right: 80px;
      }

      .contact-btn{
        background-color: #28A828;
        color: #FAFCFF;
      }
    }
  }
}

.description{
  height: 100vh;
  padding: 50px 30px;

  .greeting{
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #041022;
    border: 1px solid #4F5662;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }

  .about-text{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4C5158;
    line-height: 28px;

    .text-para{
      margin-bottom: 30px;

      .italic{
        font-weight: 600;
        font-style: italic;
      }

      .darker{
        color: #041022;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 1600px){
  .description{
    .greeting{
      font-size: 20px;
    }
    .about-text{
      font-size: 20px;
      line-height: 35px;
    }
  }
}

@media screen and (min-width: 1400px){
  .image-bg{
    .overlay{
      .overlay-text{
        top: 50vh;
      }
    }
  }
  .description{
    .greeting{
      font-size: 18px;
    }
    .about-text{
      font-size: 18px;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 1000px){
  .portfolio-btn{
    margin-right: 40px;
  }
}

@media screen and (max-width: 990px){
  .image-bg{
    height: 75vh;

    .overlay{
      .overlay-text{
        top: 38vh;
      }
    }
  }
  .description{
    height: auto;
  }
}

@media screen and (max-width: 700px){
  .image-bg .overlay .overlay-text{
    .name{
      font-size: 60px;
    }
    .skills{
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 450px){
  .image-bg{
    height: 110vh;

    .overlay{
      .overlay-text{
        top: 20vh;
      }
      .buttons{
        top: 80vh;
        left: 50%;
        transform: translate(-50%);
        display: block;

        .portfolio-btn{
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 330px){
  .image-bg{
    .overlay{
      .overlay-text{
        .name{
          font-size: 50px;
        }
        .skills{
          font-size: 20px;
        }
      }
      .overlay-text{
        top: 25vh;
      }
      .buttons{
        .portfolio-btn{
          margin-right: 0;
        }
      }
    }
  }
}
