@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Abel|Roboto:400,500,700');

*{
	margin: 0;
	padding: 0;
}

a:hover{
	text-decoration: none;
}

.project{
  max-width: 900px;
  margin-bottom: 120px;
}

.back-to-portfolio{
  display: block;
  margin-top: 80px;

  i{
    display: inline-block;
    height: 15px;
    width: 29.5px;
    background-size: 100%;
    background: url('../img/back.svg');
  }

  .label{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #646A74;
  }

  &:hover{
    .label{
      color: #041022;
    }
  }
}

.project-details{
  margin-top: 80px;

  .project-role{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #202B3B;
    margin-bottom: 30px;
    line-height: 1.7;
  }

  .project-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #041022;
    margin-bottom: 50px;
  }

  .project-description{
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
  }

  .project-subheading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #041022;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .project-img{
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.rnd-btn{
  display: block;
  position: relative;
  margin: 60px auto;
	width: 250px;
	height: 50px;
  border-radius: 40px;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.back-btn{
	padding: 14px 60px;
	background-color: transparent;
  border: 1px solid #28A828;
	color: #28A828;

  &:hover{
    border: 1px solid #041022;
    color: #041022;
  }
}

.contact-btn{
  padding: 14px 88px;
  color: #FAFCFF;
  background-color: #28A828;

  &:hover{
    opacity: 0.8;
    color: #FAFCFF;
  }
}

.project-nav{
  height: 60px;
  width: 500px;
  background-color: #041022;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px 2px 0 0;

  .project-nav-section{
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    text-decoration: none;

    i{
      display: inline-block;
      height: 15px;
      width: 29.5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-size: 100%;
    }

    .label{
      font-family: 'Abel', sans-serif;
      font-size: 16px;
      color: #F31E1E;
      letter-spacing: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover{
      i{
        height: 16.9px;
        width: 33px;
      }
      .label{
        font-size: 18px;
      }
    }
  }

  .previous{
    width: calc(50% - 1px);
    left: 0;
    border-right: 1px solid #CDCDCD;

    i{
      left: 40px;
      background: url('../img/left.svg');
    }

    .label{
      left: 100px;
    }
  }

  .next{
    right: 0;

    i{
      right: 40px;
      background: url('../img/right.svg');
    }

    .label{
      right: 100px;
    }
  }
}

@media screen and (max-width: 500px){
  .project-nav{
    width: 100%;
		height: 50px;

		.project-nav-section{
			i{
				height: 12px;
				width: 23.5px;
			}
			.label{
				font-size: 12px;
				letter-spacing: 2px;
			}
		}

		.previous{
			i{
				left: 20px;
			}
			.label{
				left: 60px;
			}
		}
		.next{
			i{
				right: 20px;
			}
			.label{
				right: 60px;
			}
		}
  }
}
