@import url('https://fonts.googleapis.com/css?family=Abel|Roboto');

*{
	margin: 0;
	padding: 0;
}

.navigation{
  display: flex;
	background-color: #041022;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 40px;

	.nav-link{
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: greyscale;
		margin: 0 50px;
		color: #6C7A83;
		font-size: 14px;
	}

	.active{
			padding: 12px 22px;
			color: #FAFCFF;
			background-color: #28A828;
			border-radius: 3px;
      font-size: 13px;
		}
}

.project-nav{
  height: 60px;
  width: 500px;
  background-color: #041022;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px 2px 0 0;

  .project-nav-section{
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    text-decoration: none;

    i{
      display: inline-block;
      height: 15px;
      width: 29.5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-size: 100%;
    }

    .label{
      font-family: 'Abel', sans-serif;
      font-size: 16px;
      color: #F31E1E;
      letter-spacing: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover{
      i{
        height: 16.9px;
        width: 33px;
      }
      .label{
        font-size: 18px;
      }
    }
  }

  .previous{
    width: calc(50% - 1px);
    left: 0;
    border-right: 1px solid #CDCDCD;

    i{
      left: 40px;
      background: url('http://svgshare.com/i/2aX.svg');
    }

    .label{
      left: 100px;
    }
  }

  .next{
    right: 0;

    i{
      right: 40px;
      background: url('http://svgshare.com/i/2aM.svg');
    }

    .label{
      right: 100px;
    }
  }
}

@media screen and (max-width: 700px){
	.navigation{
    padding: 30px;
		.nav-link{
			margin: 0 20px;
		}
	}
}

@media screen and (max-width: 500px){
  .project-nav{
    width: 100%;
		height: 50px;

		.project-nav-section{
			i{
				height: 12px;
				width: 23.5px;
			}
			.label{
				font-size: 12px;
				letter-spacing: 2px;
			}
		}

		.previous{
			i{
				left: 20px;
			}
			.label{
				left: 60px;
			}
		}
		.next{
			i{
				right: 20px;
			}
			.label{
				right: 60px;
			}
		}
  }
}

@media screen and (max-width: 450px){
	.navigation{
    padding: 20px;
		.nav-link{
			font-size: 14px;
			margin: 0 10px;
		}
		.active{
			padding: 8px 12px;
		}
	}
}

@media screen and (max-width: 316px){
	.navigation{
		.nav-link{
			font-size: 12px;
			margin: 0 10px;
		}
		.active{
			padding: 10px 15px;
		}
	}
}
